button{
    cursor: pointer;
    border: none;
}

.link-spotify, .link-disney{
    padding: 20px;
    border-radius: 20px;
}


.link-spotify{
    background-color: #21e065;
}

.link-disney{
    background-color:#9400D3;
}





.button-principal{
    background-color: #21e065;
    border-radius: 35px;
    padding: 14px 32px;
    color: #0000ff;    
    text-transform: uppercase;
    font-size: 18px;
}



.premium , .suporte , .baixar, .inscrever , .entrar{
    font: bold 15px "Roboto";
    background-color: transparent;
    color: #fff;
    padding: 0px 20px;

    &:hover{
        color: #21e065;
    }
    
}

.button-footer-spotify, .button-nav-spotify{
    background-color: transparent;
    width: 130px;
    margin-top: -10px;
    font: bold 16px "Roboto";
}

.footer-sobre, 
.footer-empregos, 
.footer-record, 
.footer-artista, 
.footer-desenvolvedor, 
.footer-publicidade, 
.footer-investidor, 
.footer-fornecedor,
.footer-suporte,
.footer-player,
.footer-app-movel
{
    background-color: transparent;
    font: 400 15px "Roboto";
    color: #fff;
    display: block;
    padding: 10px 0px;

    &:hover{
        color: #21e065;
    }
}

.footer-icon-insta, .footer-icon-twitter, .footer-icon-face{
    
}

.footer-icon-insta, .footer-icon-twitter, .footer-icon-face{
    background-color: #222326;
    padding: 6px 8px 4px 8px;
    border-radius: 35px;
    margin:0px 10px;
    fill: #fff;

    &:hover{
        fill: #21e065;
    }

}
