header{
    background-color: #000;
    width: 100%;
    height: 80px;
    padding: 30px 100px 0px 200px;
    display: flex;
}
.container-header{   
    width: 40%;
}

.container-buttons-extras{
    width: 35%;
    text-align: end;
}

.separator{
    background-color: #fff;
    width: 2px;
    margin: 5px 0px 25px 0px;
}

.container-buttons-cadastro{
    width: 25%;
    text-align: start;
}

/*BODY*/
p{
    color: #21e065;
}

.title{
    font:bold 150px "Roboto";
}

.subtitle{
    font-size: 20px;
}   

.plano-fundo{
    height: 100vh;
    background-color: rgb(41, 65, 171);
    background-image: url("https://www-growth.scdn.co/static/home/bursts.svg");
    background-size: 175%;
    background-position: 46% 4%;
}


.container-body{
    display: flex;
    justify-content: center;
    padding-top: 27vh;
    
}

.container-conteudo{
    text-align: center;
    width: 100vh;
}

.container-button-principal{
    padding-top: 60px;
}

footer{
    background-color: #000;
    width: 100%;
    height: 40vh;
    padding: 70px 0px 25px 250px;
    display: flex;
}

.footer-icon-spotify, .footer-list-empresa , .footer-list-link {
    width: 15%;
}

.footer-icon-social-midia{
    width: 40%;
    text-align: center;
}

.footer-list-empresa p , .footer-list-link p {
    font: 400 16px "Roboto";
    color: #919496;
    padding-bottom: 15px;
}

